@import "tailwindcss";
@plugin "daisyui" {
    themes: light;
}
@plugin "daisyui/theme" {
    name: light;
    default: true;
    --color-primary: #e31937;
}
@theme {
    --font-sans: Roboto, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}